@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Passion+One:wght@400;700;900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
--fonte-h1: 'Passion One';
--fonte-p: 'Sriracha';
}

*{
    margin: 0px;
    padding: 0px;
}
header {
    background-color: black;
    color: white;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header h1{
font-family: var(--fonte-h1);
}
header a {
    text-decoration: none;
    color: white;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 900;
}
main > p {
    font-family: var(--fonte-p);
}
p.fundo{
    position: absolute;
    background-size: 100% 100%;
    height: 400px;
    width: 200px;
    color: white;
    background-color: rgba(0, 0, 0, 0.418);
    margin-top: 60px;
    margin-left: 30px;
}
div {
    height: 500px;
    margin: auto;
    
    background-size: cover;
    background-attachment: fixed;
}
div.joana {
background-image: url('imagens/background001.jpg');
background-position: right center;
}
div.livro {
background-image: url('imagens/background002.jpg');
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 1.0em;
}