@charset "UTF-8";

@font-face {
    font-family: 'droid';
    src: url(pacote-projeto-d010/fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0%;
    background-color: #84E1AD;
}
h1 {
    padding-top: 20px;
    margin-top: 0%;
    text-align: center;
    color: white;
    
}
header {
   background-image: linear-gradient(to top,#1A5C38, #3BD27F );  
}
header > p {
    text-align: center;
color: white;
}
p {
text-align: justify;
}
nav > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-right: 15px;
    
}
nav > a:hover {
    background-color: #2e9e60;
}
h2 {
    padding-top: 20px;
    margin-top: 0%;
    font-family: 'droid';
    color: #19633b;
}
h3 {
    font-family: 'droid';
    color: #19633b;
    background-image: linear-gradient(to right, #c0f5d5, white);
}
main {
    margin: 0% 100px;
    background-color: white;
    padding: 0% 20px;
}
footer {
    background-color: #1A5C38;
    
    padding: 2px;
    color: white;
}
footer > p {
    margin: 0px;
text-align: center;
}
p.final {
    margin-bottom: 0%;
}